<div class="d-flex p-2">
  <select class="form-select w-25 me-2">
    <option selected>Order por costo</option>
    <option value="-1">Mayor a menor</option>
    <option value="1">Menor a mayor</option>
  </select>
  <input class="form-control w-25 me-2 " type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-primary" type="submit">Search</button>
</div>
<div class="card-body py-0">
  <div class="table-responsive">
    <div style="overflow-x:auto;">
      <div class="table-responsive">
        <table class="table table-head-custom table-vertical-center">
          <thead>
            <tr class="text-left">
              <th style="padding-left: 15px;">Nombre</th>
              <th>Precio</th>
              <th>Categoria</th>
              <th>Imagen</th>
              <th>Añadir al carrito</th>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let candy of candies">
                <td>
                  {{candy.name_prod}}
                </td>
                <td>{{candy.price}}</td>
                <td>{{candy.categorie.name_cat}}</td>
                <td>
                  <div class="text-center">
                    <img style="height: 150px; width: 150px;" src="{{candy.image}}"/>
                  </div>
                </td>
                <td class="pr-0 ">
                  <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                    <button class="btn btn-primary me-md-2" type="button">-1</button>
                    <input type="number" class="form-control" style="width: 80px;" name="quantity" value="{{candy.quantity}}">
                    <button class="btn btn-primary" type="button">+1</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>