<div class="container m-auto text-center">
  <div class="row row-cols-2">
    <div class="col"><h1>Dulces</h1></div>
    <div class="col"><h1>Categorias</h1></div>
    <div class="col mb-3">
      <a class="btn btn-outline-primary" routerLink="/addcandy" >Agregar dulces</a>
    </div>
    <div class="col mb-3">
      <a class="btn btn-outline-primary" routerLink="/addcategorie" >Agregar categoria</a>
    </div>
    <div class="col mb-3">
      <a class="btn btn-outline-success" routerLink="/listcandies" >Listado de dulces</a>
    </div>
    <div class="col mb-3">
      <a class="btn btn-outline-success" routerLink="/listcategories" >Listado de categorias</a>
    </div>
  </div>
</div>