<div class="card p-2 m-3">
  <h5 class="mt-3">Listado de dulces</h5>
  <div class="table-responsive">
    <table class="table table-head-custom table-vertical-center">
      <thead>
        <tr class="text-left">
          <th style="padding-left: 15px;">Nombre</th>
          <th>Code</th>
          <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let categorie of categories">
            <td>
              {{categorie.name_cat}}
            </td>
            <td>
              {{categorie.code | uppercase}}
            </td>
            <td>
              <div class="d-flex ">
                <a class="btn btn-primary m-1" routerLink="/edit/categorie/{{categorie._id}}">Editar</a>
                <button class="btn btn-primary m-1" (click)="deleteCategorie(categorie._id)">Eliminar</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    <a class="btn btn-outline-danger" routerLink="/" >Volver</a>
  </div>
</div>