<div class="col-6 m-auto">
	<div class="card p-4 m-5 d-flex flex-column-fluid flex-center">
		<div class="text-center mb-10 mb-lg-20">
			<h3 class="font-size-h1">Registrate!</h3>
			<p class="text-muted font-weight-bold">Ingresa tus datos para crear tu cuenta</p>
		</div>
		<form class="form" autocomplete="off">
			<div class="mb-3">
				<label>Nombre completo:</label>
				<input type="text" class="form-control" placeholder="Nombre completo" name="full_name" (keyup)="onChange($event)" required/>
			</div>
			<div class="mb-3">
				<label>Correo:</label>
				<input type="email" class="form-control" placeholder="Correo Electronico" name="email" autocomplete="off" (keyup)="onChange($event)" required/>
			</div>
			<div class="mb-3">
				<label>Nombre de usuario:</label>
				<input  type="text" class="form-control" placeholder="Nombre de usuario" name="username" (keyup)="onChange($event)" required/>
			</div>
			<div class="mb-3">
				<label>Contraseña:</label>
				<input  type="password" class="form-control" placeholder="Contraseña" name="password" autocomplete="off" (keyup)="onChange($event)" required/>
			</div>
			<div class="mb-3">
				<label>Confirmar Contraseña:</label>
				<input  type="password" class="form-control" placeholder="Confirma tu contraseña" name="confirmPassword" autocomplete="off" (keyup)="onChange($event)" required/>
			</div>
			<div class="mb-3 d-flex flex-wrap flex-center text-center">
				<button (click)="submit()" class="btn btn-primary m-1" >Registrarte!</button>
				<a href="/login" class="btn btn-danger m-1">Cancelar</a>
			</div>
		</form>
	</div>
</div>
